/* Style untuk tabel */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
    font-size: 14px;
  }
  
  th {
    background-color: rgb(207, 183, 183);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style untuk tombol */
  button {
    background-color: #5e41c5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #5e41c5;
  }
  
  /* Style untuk judul halaman */
  h1,
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style untuk container */
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  